In [1]:
from pathlib import Path
import numpy as np
import pandas as pd

In [2]:
DATA_DIR = Path.cwd().resolve().parent / "datos"

datos_titanic = pd.read_parquet(DATA_DIR / "02_datos_con_tipo_de_dato_ajustado_titanic.parquet")

# Selecci√≥n de columnas y estructura del dataframe

In [3]:
datos_titanic.columns

Index(['pclass', 'survived', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked'],
      dtype='object')

In [4]:
datos_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   survived  1309 non-null   bool
 2   sex       1309 non-null   category
 3   age       1046 non-null   float64
 4   sibsp     1309 non-null   int64
 5   parch     1309 non-null   int64
 6   fare      1308 non-null   float64
 7   embarked  1307 non-null   category
dtypes: bool(1), category(2), float64(2), int64(3)
memory usage: 55.3 KB

In [5]:
from pycaret.classification import setup, compare_models

In [6]:
target_col = "survived"

In [9]:
clf_setup = setup(
    data = datos_titanic,
    target = target_col,
    session_id =  42,

    # Par√°metros para controlar el preprocesamiento:
    numeric_features = ['age', 'fare', 'sibsp', 'parch'],
    categorical_features = ['sex', 'embarked'],
    ordinal_features = {'pclass': [1,2,3]},

    # Estrategias de imputacion
    numeric_imputation = 'mean',
    categorical_imputation = 'mode',
)

In [10]:
datos_titanic['survived'].value_counts()

False    809
True     500
Name: survived, dtype: int64

In [11]:
best_model = compare_models(
    include=['lr', 'rf', 'gbc', 'lightgbm'],
    sort='Accuracy',
    n_select=4
)

In [12]:
from pycaret.classification import create_model, tune_model, predict_model

print("Creando el modelo lightgbm...")
gbc_model = create_model('lightgbm')

print("\n")
print("------")
print("\n")

print("Realizando fine-tuning del modelo....")
gbc_tuned = tune_model(gbc_model)

print("\n")
print("------")
print("\n")

print("Resumen del modelo")
print(gbc_tuned)

print("\n")
print("------")
print("\n")

print("Predicciones en el conjunto/set de test")
predicciones_internas = predict_model(gbc_tuned)

print("\n")
print("------")
print("\n")


print(predicciones_internas.head())

Creando el modelo lightgbm...

------


Realizando fine-tuning del modelo....

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).


------


Resumen del modelo
LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=42, reg_alpha=0.0, reg_lambda=0.0, subsample=1.0,
               subsample_for_bin=200000, subsample_freq=0)


------


Predicciones en el conjunto/set de test

------


      pclass     sex   age  sibsp  parch       fare embarked  survived  \
1289       3    male  21.0      1      0   6.495800        S     False
352        2  female  40.0      1      1  39.000000        S      True
1189       3  female   4.0      1      1  16.700001        S      True
78         1  female  64.0      0      2  83.158302        C      True
974        3    male  30.0      1      0  16.100000        S     False

      prediction_label  prediction_score
1289                 0            0.8640
352                  1            0.9968
1189                 1            0.7978
78                   1            0.9938
974                  0            0.9308

In [13]:
print(gbc_tuned.get_params())

{'boosting_type': 'gbdt', 'class_weight': None, 'colsample_bytree': 1.0, 'importance_type': 'split', 'learning_rate': 0.1, 'max_depth': -1, 'min_child_samples': 20, 'min_child_weight': 0.001, 'min_split_gain': 0.0, 'n_estimators': 100, 'n_jobs': -1, 'num_leaves': 31, 'objective': None, 'random_state': 42, 'reg_alpha': 0.0, 'reg_lambda': 0.0, 'subsample': 1.0, 'subsample_for_bin': 200000, 'subsample_freq': 0}

In [14]:
np.random.seed(57)


n_samples = 50

df_synthtic_test = pd.DataFrame({
    'pclass': np.random.choice([1, 2, 3], size=n_samples),
    'sex': np.random.choice(['male', 'female'], size=n_samples),
    'age': np.random.uniform(0, 80, size=n_samples),
    'sibsp': np.random.randint(0, 10, size=n_samples),
    'parch': np.random.randint(0, 4, size=n_samples),
    'fare': np.random.uniform(10, 2000, size=n_samples),
    'embarked': np.random.choice(['C', 'Q', 'S'], size=n_samples)
})

df_synthtic_test.head()

   pclass   sex        age  sibsp  parch         fare embarked
0       3  male  29.549676      6      0  1535.239303        Q
1       2  male  22.782733      6      2   913.722493        C
2       3  male  74.169372      3      3   277.143499        C
3       1  male  62.041734      4      0   527.476471        Q
4       3  male  51.305236      2      1   717.351105        S

In [16]:
prediccines_sinteticas = predict_model(gbc_tuned, data=df_synthtic_test)

prediccines_sinteticas.head()

,pclass,sex,age,sibsp,parch,fare,embarked,prediction_label,prediction_score
0,3,male,29.549675,6,0,1535.239258,Q,0,0.9823
1,2,male,22.782732,6,2,913.722473,C,0,0.9756
2,3,male,74.169373,3,3,277.143494,C,0,0.9869
3,1,male,62.041733,4,0,527.476501,Q,0,0.9802
4,3,male,51.305237,2,1,717.351074,S,0,0.9744

# Guardar el modelo

In [17]:
from pycaret.classification import save_model

In [18]:
MODELS_DIR = Path.cwd().resolve().parent / "modelos"
MODELS_DIR.mkdir(exist_ok=True)

model_path = MODELS_DIR / "lightgbm_tuned_model"

save_model(gbc_tuned, model_path)

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['age', 'fare', 'sibsp', 'parch'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_imputer',
                  TransformerWrapper(exclude=None, include=['sex', 'embark...
                  LGBMClassifier(boosting_type='gbdt', class_weight=None,
                                 colsample_bytree=1.0, importance_type='split',
                                 learning_rate=0.1, max_depth=-1,
                                 min_child_samples=20, min_child_weight=0.001,
                                 min_split_gain=0.0, n_estimators=100, n_jobs=-1,
                                 num_leaves=31, objective=None, random_state=42,
                                 reg_alpha=0.0, reg_lambda=0.0, subsample=1.0,
                                 subsample_for_bin=200000, subsample_freq=0))],
          verbose=False),
 '/Users/david.palacio/Documents/academia/titanic-prediccion/modelos/lightgbm_tuned_model.pkl')